---
layout: default
---
<article class="m-0 p-0" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="pt-[70px] sm:pt-[90px] pb-[70px] align-center">
    <h1 class="text-3xl sm:text-5xl text-gray-900 dark:text-white text-center" itemprop="name headline">{{ page.title |
      escape
      }}</h1>
    <p class="text-sm text-gray-500 dark:text-gray-400 text-center mt-3">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        Published: {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
          itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
    </p>
  </header>
  <div class="max-w-[675px] mx-auto">
    <div class="prose lg:prose-xl dark:prose-invert" itemprop="articleBody">
      {{ content }}
    </div>
  </div>
  <a href="{{ page.url | relative_url }}" hidden></a>
</article>